.contact .main-content {
    align-items: center;
    justify-content: center;
}

.contact .image-container {
    margin-top: 0;
}

.contact-links {
    margin-top: 15px;
}

.contact-links a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 10px 0;
    transition: all .5s ease;
}

.contact-links a:hover {
    transform: scale(110%);
}

.contact-links a svg {
    margin-right: 10px;
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
}

.fb path {
    fill: #1877F2;
}

.ig path {
    fill: #e1306c;
}

.yt path {
    fill: #FF0000;
}

.wa path {
    fill: #25d366;
}

.msg path {
    fill: #fff;
}