.gharana.container {
    background-color: #292929;
}

.gharana-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    color: #ffffff;
  }
  
  @media (min-width: 768px) {
    .gharana-container {
      flex-direction: row;
      justify-content: space-between;
      padding: 40px;
    }
  }
  
  .gharana-content {
    flex: 1;
    max-width: 600px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  @media (min-width: 768px) {
    .gharana-content {
      margin-bottom: 0;
    }

    .gharana-title {
        font-size: 3.5em;
    }
  }
  
  .gharana-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {
    .gharana-title {
        font-size: 3.5em;
    }
  }
  
  .gharana-description,
  .gharana-details,
  .gharana-performers {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .gharana-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gharana-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .gharana-image {
      max-width: 500px;
    }
  }
  