.home {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -570px;
}

.home .text-content {
    position: relative;
    text-align: left;
    transform: translateX(35%);
    top: 10vh;
}

.home .text-content h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 0;
}

.home .text-content .subtitle {
    font-size: 65px;
    font-weight: 300;
    margin-top: -10px;
}

@media (max-width: 480px) {
    .home {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 0;
    }

    .home .text-content {
        transform: none;
        justify-content: center;
    }

    .home .text-content h1 {
        font-size: 60px;
        line-height: 0.9;
        margin-bottom: 0;
    }

    .home .text-content .subtitle {
        font-size: 55px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .home {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -100px;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .home {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -400px;
    }
}

@media (min-width: 1281px) and (max-width: 1600px) {
    .home {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -700px;
    }
}

@media (min-width: 1601px) and (min-width: 1920px) {
    .home {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -1000px;
    }
}