.home {
    background-image: url('/public/assets/images/home.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.home .text-content {
    position: relative;
    text-align: left;
    transform: translateX(35%);
    top: 10vh;
}

.home .text-content h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 0;
}

.home .text-content .subtitle {
    font-size: 65px;
    font-weight: 300;
    margin-top: -10px;
}

@media (max-width: 480px) {
    .home {
        background-position: 0 200px;
    }
    .home .text-content {
        transform: none;
        justify-content: center;
    }

    .home .text-content h1 {
        font-size: 60px;
        line-height: 0.9;
        margin-bottom: 0;
    }

    .home .text-content .subtitle {
        font-size: 55px;
    }
}