.sitar-icon {
    position: relative;
    fill: #fff;
    width: 65px;
    height: 65px;
    /* transform: rotate(45deg); */
    transform: rotate(135deg);
    margin-right: -20px;
    top: 10px;    
    transition: all .5s ease;
    left: -15px;
}

/* .sitar-icon:hover {
    transform: scale(110%);
} */