.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container */
.container {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  margin: 20px 80px;
  font-size: 18px;
  flex-wrap: wrap;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
}

.nav-item:hover {
  transition: .5s ease;
  transform: scale(107%);
  font-weight: 500;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}

/* Background Image */
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Text Content */
.text-content {
  z-index: 1;
  padding: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 30px;
  margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .navbar {
    gap: 5px;
    font-size: 16px;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 20px;
  }

  .sitar-icon {
    display: none;
  }
}
