.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container */
.container {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

/* Main Content */
.main-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  position: relative;
  gap: 20px;
}

/* Page Image */
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: clip;
}

.image-container img {
  width: 100%;
}

/* Text Content */
.text-content {
  z-index: 1;
  text-align: left;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 30px;
  margin: 10px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 20px;
  }

  .sitar-icon {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-content.page-content {
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: row;
    gap: 40px;
    padding-top: 40px;
  }

  .text-content {
    width: 60%;
  }

  .image-container {
    width: 40%;
    margin-top: 77px;
  }
}
